.banner{
    position: relative;
}

.banner__imagem{
    background: url('../img/banner.jpg') no-repeat center / cover;
    width: 100%;
    height: calc(100vh - 72px);
}

.banner__titulo {
    font-family: Pacifico, cursive;
    font-weight: lighter;
    color: #fdfdfd;
    font-size: 5.0625rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}